<div class="login">
  <input type="text" name="email" value="" placeholder="Email" />
  <input type="password" name="password" placeholder="Password" />
  <button type="button" id="login-btn">Login</button>
</div>